SCHLASS_DATABASE_URL=postgres://schlass_app:schlass_app@postgres:5432/schlass?sslmode=disable
SCHLASS_MIGRATIONS_DATABASE_URL=postgres://schlass_migrations:schlass_migrations@postgres:5432/schlass?sslmode=disable
SCHLASS_VALKEY_URL=valkey:6379
SCHLASS_ENCRYPTION_KEY=generate-with-openssl-rand-base64-32
SCHLASS_PORT=3000
SCHLASS_PUBLIC_URL=http://localhost:3000
